*.DS_Store
venv
ieee39_full_*
*__pycache__
*.csv
*.pkl
*.txt
*.pt
*.pytest_cache
# results
results/*
results/
/models_trained/
*.png
*.pdf

# optional local-only model eval utility
models/eval_on_csv.py

configs/figure/
configs/presentation/